# colorscheme
background_color #1e2030
#custom_color_contrast 0.8
#custom_empty_background_color #1e2030
page_separator_color #1e2030
page_separator_width 5
custom_background_color #222436
custom_text_color #c8d3f5
search_highlight_color #fca7ea
status_bar_color #1e2030
status_bar_text_color #828bb8
ui_background_color #1e2030
ui_text_color #c8d3f5
synctex_highlight_color #cba6f7

# UI Font
ui_font IosevkaTerm Nerd Font
font_size 16
status_bar_font_size 14

# set up inverse search for VimTex?
#inverse_search_command nvim --headless -c "VimtexInverseSearch %l '%f'"
should_launch_new_window 1

# start up commands
startup_commands toggle_custom_color;
