[Unit]
Description=Configure my Wacom tablet
After=default.target
PartOf=default.target

[Service]
Type=oneshot
ExecStart=/home/radial/.config/wacom/wacom-config.sh

[Install]
WantedBy=default.target
